<% layout("layouts/boilerplate") %>
<div class="row">
    <h1 class="text-center">Edit Campground</h1>
    <div class="col-6 offset-3">
        <form action="/campgrounds/<%=camp._id%>?_method=PUT" method="POST" novalidate class="validated-form">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="camp[title]"  value="<%=camp.title%>" required>
            </div>
            <div class="mb-3">
                <label  class="form-label" for="location">Location</label>
                <input  class="form-control"type="text" id="location" name="camp[location]"  value="<%=camp.location%>" required>
            </div>
            <div class="mb-3">
                <label  class="form-label" for="image">Image Url</label>
                <input  class="form-control"type="text" id="image" name="camp[image]"  value="<%=camp.image%>" required>
            </div>
            <div class="mb-3">
                <label  class="form-label" for="price">Campground Price</label>
            </div>
            <div class="input-group mb-3">
                <input type="text" class="form-control" id="price" placeholder="0.0" aria-label="price" aria-describedby="price-label" name="camp[price]"  value="<%=camp.price%>">
                <span class="input-group-text" id="price-label">$</span>
              </div>
            <div class="mb-3">
                <label  class="form-label" for="description">Description</label>
                <textarea  class="form-control"type="text" id="description" name="campground[description]" required><%= camp.description %></textarea>
            </div>
            <div class="mb-3">
                <button class="bt btn-info"> Update Campground</button>
            </div>
        </form>
        <a href="/campgrounds/<%= camp._id%>">Back to Campgrounds</a>
    </div>

</div>


